<!DOCTYPE html>
<html lang="en" ng-app="bestmallApp">
<head>
<%- include('header.ejs') %>
</head>

<body ng-controller="homepageCon">
<div class="fixedcloud"></div>
    <div class="container">
         <%- include('nav.ejs', {section: 'result'}) %>    
    </div>
    <div class="visual-container cloud">
        <img src="cloud1.png" alt="" srcset="" style="right: 100px;">
        <img src="cloud2.png" alt="" srcset="" style="left: 100px;">
        <img src="cloud3.png" alt="" srcset="" style="right: 100px;">
    </div>
    <div class="container-fuild  d-xl-none mobile-visual">
     <img class="img-fluid" src="mobile_event_main.png" alt="" srcset="">  
    </div>
    <div class="section-visual-container  d-none d-xl-block">
        <div class="visual">
            <img id="main" src="event_main.png" alt="" srcset=""> 
            <div id='starcontainer'></div>
        </div> 
    </div>
        <div class="advercontainer" data-velocity=".9" >
            <div class="adv-header logo_paradise">
                <div class="backbtn">
                    <a href='../event'>
                        <img src='btn_back.png'>
                    </a>
                </div>
            </div>
            <div class="adv-video">
                    <div id="video_player"></div>
            </div>
            
            <div class="advertorialBody">
                <p>一年一度的動MALL王大獎又要頒發了，一班動MALL女已經依照動MALL王派出的指令，四出於各商場進行神秘任務！杏花新城鄰近港鐵杏花邨站，充滿舒適和時尚品味，為顧客於繁忙的生活，開闢一個寫意的消閒購物空間。，商場內有型格運動Outlet、時尚品牌、都會美食，每一處都經過細心配搭，為顧客提供一站式吃喝玩樂新熱點，難怪榮獲Apple Daily Digital頒發的「最佳Outlet體驗動MALL王大獎」！</p>
                <img class="photo" src="paradise_1.jpg">
                <p class="caption">杏花新城鄰近港鐵杏花邨站，設有反式各樣的運動用品商舖，為顧客提供了舒適和時尚品味的寫意消閒購物空間。</p>
                <p>商場的運動OUTLET聚集逾50個運動潮牌，是東區搜羅運動用品的新地標，不單為顧客提供折扣優惠的精選貨品，亦為愛好運動的顧客提供一站式的購物樂。而位於商場運動OUTLET的波鞋樹，更是杏花新城運動OUTLET的招牌標記。</p>
                <img class="photo" src="paradise_2.jpg">
                <p class="caption">杏花新城的運動OUTLET，聚集數十個運動潮牌。</p>
                <p>同時，商場亦是港島東區提供多個娛樂消閒商戶(Entertainment Hub)的商場，娛樂消閒商戶，包括全港首個進駐商場的室內攀石場Just Climb，和分別適合兒童及年青人娛樂消閒的商戶Dreamland 及Namco。</p>
                <img class="photo" src="paradise_3.jpg">
                <p class="caption">全港首個進駐商場的室內抱石場Just Climb，為運動愛好者提供寬敞而完備練習場地。</p>
                <p>商場的美膳坊則以雅緻的戶外茶座作為主體佈置，匯聚逾二十多間各國美食，任君選擇。</p>
                <img class="photo" src="paradise_4.jpg">
                <p class="caption">杏花新城的美膳坊，匯聚各國美食，任君選擇。</p>
            </div>
        </div>  
        <%- include('footer.ejs') %>
        <%- include('videoUtil.ejs') %>
        <%- include('./animation/event.ejs') %>
       <script>
                  var videodetail1 = {
                    videoId : "bestmallawards2017video1",
                    url : "https://campaign.nextdigital.com.hk/video_sales/bestmallawards/paradise_2018.mp4",
                };
                var videoTitle1 = "Best Mall Awards 2018";
                var elementId1 = "video_player";
            
              
                renderVideo(videodetail1, videoTitle1, elementId1); 
                
       </script>
</body>

</html>
